# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
include <iostream>
#include <string>
using namespace std;
int N,a;
int main (){
	setlocale (LC_ALL,"Russian");
	string *massiv = new string[1000000];				//Создаём массив размером в миллион, так как мы не знаем сколько элементов будет
	a=1;			                              		// у пользователя, в этой части программы переменная а нужна для красоты, чтобы 
	cout<<"Ввод массива закончите словом end."<<endl;		//в консоли было написано "введите значение для 1 элемента массива",если бы брали
	for ( int i = 0; i <1000000 ; i++) {			        //i,то был бы 0, пользователь вводит массив, до тех пор пока не закончит 
    	cout << "Введите значение для " << a << " элемента массива : "; //его словом end, после размер массива изменяется на N равный колличеству 
    	cin >> massiv[i];				                //итераций.
    	a++;															
    	if(massiv[i]=="end"){
    	N=i;
		break;}
		
	}
	cout<<"Вами введённая строка :";				// Выводим массив(данный шаг не обязателен)
	for (int i = 0; i < N; i++) {
        std::cout <<massiv[i];
    }
    cout<<endl;
    a=0;								//Теперь переменная а нужна для того чтобы если за весь цикл не найдётся
	for (int i = 0; i < N; i++) {					// последовательность, т.е. её значение не изменится на 1, вывести,
		if(massiv[i]=="a"){					// что последовательность не найдена.
			i++;
			if(massiv[i]=="b"){				//Условия if проверяют порядок нужных элементов, т.е. стоят ли данные буквы в 
				i++;					//нужной последовательности.
				if(massiv[i]=="c"){
					cout<<"Последовательность abc найдена.";
					a=1;
					break;
				}
			}
		}
	} 
	if(a!=1){
		cout<<"Последовательность abc не найдена :(";
	}
    return 0;
}
